.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-height: 400px;
  max-height: 600px;
  min-width: 250px;
  max-height: 300px;
  justify-content: space-evenly;
  padding: 50px;
  color: #ed4c76;
  border-radius: 20px;
  text-align: left;
  top: 20%;
  position: sticky;

  .title {
    text-align: center;
  }

  input,
  textarea {
    border-radius: 4px;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .submit-btn {
    cursor: pointer;
    background: none;
    border: 1px solid #ed4c76;
    color: #ed4c76;
    padding: 10px;
    margin-top: 20px;

    &:hover {
      background-color: white;
      border-color: white;
    }
  }

  small {
    color: rgb(196, 117, 117);
  }
}
