.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  button {
    margin: 10px;
    border: none;
    background-color: rgb(175, 171, 171);
    color: rgb(249, 249, 250);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
}
