.user-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(64, 68, 68, 0.295);
  text-decoration: none;
  color: rgb(173, 173, 172);
  text-align: center;

  .id {
    font-family: "Sriracha", cursive;
    font-size: 90px;
    border-radius: 5px;
    color: rgb(67, 99, 99);
  }

  &:hover {
    background-color: rgb(73, 70, 65);
  }

  &:active {
    background-color: rgb(0, 255, 128);
  }
}
