.navbar {
  background-color: rgb(71, 69, 69);
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 100%;
  color: #72746f;
  padding: 5px 0;

  .options {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    list-style: none;

    .home {
      margin-left: -60px;
    }

    .option {
      text-align: center;
      color: rgb(229, 236, 229);
      text-decoration: none;
      padding: 5px 10px;
      border: 1px solid rgb(119, 126, 119);
      border-radius: 4px;

      &:hover {
        color: rgb(66, 172, 25);
        cursor: pointer;
        border: 1px solid rgb(255, 174, 0);
      }
    }
  }
}
