.posts-page-container {
  display: flex;
  color: white;
  flex-direction: row;
  margin-top: 20px;
  min-height: 100vh;
  justify-content: space-around;
}

.btn {
  margin: 20px;
  padding: 10px;
  border: 1px solid gray;
  color: white;
  background: none;
  border-radius: 5px;
}

.post-container {
  display: none;
}

#input-a {
  border-radius: 5px;
}
