@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Sriracha&display=swap");

.navbar {
  background: rgba(16, 13, 18, 0.5);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 100%;
  color: #72746f;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 99;
  // box-shadow: 0px 3px 5px 0px rgba(221, 0, 255, 0.884);
  // -webkit-box-shadow: 0px 3px 5px 0px rgba(221, 0, 255, 0.884);
  // -moz-box-shadow: 0px 3px 5px 0px rgba(198, 22, 227, 0.75);

  .options {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    list-style: none;
    font-family: "League Mono", "Fira Mono", monospace;

    .home {
      color: rgb(255, 0, 234);
      text-decoration: none;
      font-size: 1.1em;
      border: 1px solid rgb(198, 11, 231);
      border-radius: 4px;
      padding: 5px 10px;
    }

    .option {
      text-align: center;
      color: rgb(229, 236, 229);
      text-decoration: none;
      padding: 5px 10px;
      border: 1px solid rgb(119, 126, 119);
      border-radius: 4px;

      &:hover {
        cursor: pointer;
        border: 1px solid rgb(255, 174, 0);
      }
    }
  }
}
