@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Sriracha&display=swap");

.form-container {
  font-family: "League Mono", "Fira Mono", monospace;
  background-color: rgba(99, 43, 43, 0.932);
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-height: 400px;
  max-height: 600px;
  min-width: 250px;
  max-height: 300px;
  justify-content: space-around;
  padding: 50px;
  color: white;
  border-radius: 20px;
  text-align: left;
  top: 10px;
  z-index: 2;
  position: sticky;

  .title {
    text-align: center;
  }

  input,
  textarea {
    border-radius: 4px;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .submit-btn {
    cursor: pointer;
    background: none;
    border: 1px solid rgb(45, 255, 56);
    padding: 10px;
    margin-top: 20px;
    color: white;
    font-family: "League Mono", "Fira Mono", monospace;

    &:hover {
      background-color: white;
      color: black;
      border: none;
    }
  }

  small {
    color: rgb(196, 117, 117);
  }
}
