@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Sriracha&display=swap");

.todos-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-top: 4rem;
  font-family: "League Mono", "Fira Mono", monospace;

  .todos-body {
    width: 400px;
    min-height: 400px;
    max-height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

    h1 {
      color: white;
    }

    input {
      border-radius: 5px 0px 0px 5px;
      border: none;
      min-height: 21px;
      outline: none;
    }

    button {
      background: none;
      color: white;
      border: 1px solid white;
      border-radius: 0px 5px 5px 0px;
      padding: 3px 10px;
      font-family: "League Mono", "Fira Mono", monospace;
      cursor: pointer;

      &:hover {
        color: orange;
      }
    }
  }
}
