@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Sriracha&display=swap");

.user-container {
  font-family: "Josefin Sans", sans-serif;
  width: 85vw;
  margin: 0 auto;
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  height: 100%;
  text-decoration: none;
  background-color: black;
}
