.user-container {
  width: 70vw;
  margin: 0 auto;
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  height: 100%;
  padding-bottom: 20px;
  text-decoration: none;
}
