.post-list-body {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 100%;
}

.btn {
  margin: 20px;
  padding: 10px;
  border: 1px solid gray;
  color: white;
  border-radius: 5px;
}

.post-container {
  display: none;
}

#input-a {
  border-radius: 5px;
}
