@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Sriracha&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
