.user-info-card {
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 10px;
  min-width: 450px;
  max-width: 500px;
  justify-content: space-around;
  align-items: center;
  height: 400px;

  ul {
    list-style: none;
    text-align: left;
    font-size: 22px;

    .m-icon {
      margin-right: 20px;
      margin-top: 20px;
      font-size: 19px;
      color: rgb(166, 255, 49);
    }
  }

  .star {
    color: yellow;
    font-size: 23px;
  }
}
