@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Sriracha&display=swap");

.navbar {
  background: rgba(16, 13, 18, 0.5);
  backdrop-filter: blur(10px);
  width: 100%;
  color: #5873fb;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 99;

  .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    .nav-right {
      display: flex;
      flex-direction: row;
      min-width: 400px;
      max-width: 600px;
      justify-content: space-evenly;
    }

    .home {
      color: #5873fb;
      text-decoration: none;
      font-family: "Sriracha", cursive;
      font-size: 20px;
      border-radius: 4px;
      padding: 5px 10px;
    }

    .option {
      text-align: center;
      color: #ed4c76;
      text-decoration: none;
      padding: 5px 10px;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
